<section id="sobre" class="shadow">
	<div class="container h100">
		<div class="col-xs-12 col-sm-6 col-md-6 flex">
			<div class="flex-item flex-item-right">
				<h1 class="text-left line-color line-left">Curiosidade</h1>
				<p class="text-left">Reza a lenda que  o Futebol Americano nasceu em meados do século XIX em uma partida entre Harvard e Yale, no início os times jogavam utilizando regras diferentes, enquanto alguns utilizavam regras do rugby outros seguiam mais as regras do futebol europeu.</p>
				<p>Como era normal acontecer as equipes jogavam com uma alternancia nas regras mas sempre aplicando de forma com que ambas equipes tivessem chances de ganhar.</p>
				<p>Alguns anos depois, Harvard, Yale, Princeton e Columbia resolveram adotar as regras do rugby (com exceção de uma pequena diferença nos pontos) e formaram a <strong>Intercollegiate Football Association</strong> (Associação de Futebol Inter-universitária).</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 flex">
			<div class="flex-item flex-item-left">
				<img src="images/img-curiosidade.jpg" class="img-responsive" alt="" title="">
				<small class="flex-item-left text-right">A rivalidade entre Harvard e Yale é uma das mais antigas do esporte.Na foto o time de Harvard de 1878.</small>
			</div>
		</div>
	</div>
</section>