<section id="pontuacao">
	<div class="container h100">
		<div class="col-xs-12 col-md-6 flex">
			<div class="flex-item">
				<h2 class="text-left line-white line-left">Pontuação</h2>
				<p class="text-left">Durante uma partida de futebol americano existem algumas formas de um time pontuar, as principais delas são:</p>
				<p>A jarda é uma unidade de medida muito utilizada nos EUA e na Europa, cada jarda equivale a 0,914 metros.</p>
				<div class="infos-slider">
					<h3>Field Goal</h3>
					<p>Se o time atacante não conseguir atingir as 10 jardas da descida depois de 3 tentativas, o time pode optar por fazer um field goal caso a endzone não esteja tão longe e o kicker tenha confiança que consegue fazer a bola passar pelas traves, se o field goal for feito com êxito o time atacante ganha 3 pontos.</p>
				</div>
			</div>
		</div>
	</div>
</section>