<section id="time">
	<div class="container h100">
		<div class="col-xs-12 col-md-6 flex pull-right">
			<div class="flex-item flex-item-left">
				<h2 class="text-right line-color line-right">O Time de<br/> Futebol AMericano</h2>
				<p class="text-right">Com a bola em jogo o único que pode ser derrubado é o jogador com a bola, quando o jogador é derrubado é chamado de <strong>tackle</strong>, os jogadores da defesa podem somente segurar os jogadores do ataque adversário porém os jogadores de ataque não podem segurar os de defesa</p>
				<p class="text-right">Cada time é composto por até 53 jogadores, divididos em equipe de ataque, de defesa e equipe especial, cada equipe é especializada em uma daterminada função</p>
				<h3 class="text-right">Ataque</h3>
				<p class="text-right">A equipe atacante é reponsável por passar pela defesa da equipe adversaria e chegar com a bola até a <strong>endzone</strong> do adversário </p>
				<h3 class="text-right">Defesa</h3>
				<p class="text-right">A defesa é responsável por defender o campo não permitindo que a equipe atacante do time adversário não consiga chegar com a bola até a <strong>endzone</strong></p>
				<h3 class="text-right">Especial</h3>
				<p class="text-right">A equipe especial, como o próprio nome diz, é responsável por jogadas especiais como <strong>kickoff</strong>, <strong>punch</strong>, <strong>field goal</strong> e outros</p>
			</div>
		</div>
	</div>
</section>
<section id="curiosidade-time">
	<div class="container">
		<div class="col-md-12">
			<p class="text-center">Os times podem ter somente 11 jogadores em campo, seja a equipe atacante ou a equipe defensora, há uma penalidade em que durante a substituição de um dos 11 jogadores, se houver 12 jogadores em campo o time recebe uma independente se for a equipe de ataque ou de defesa</p>
		</div>
	</div>
</section>
<div class="clearfix"></div>