<section id="capacete">
	<div class="container h100">
		<div class="col-xs-12 col-md-6 flex">
			<div class="flex-item flex-item-right">
				<h2 class="text-left line-color line-left">Os Equipamentos</h2>
				<h3 class="text-left">Capacete</h3>
				<p class="text-left">Os capacete mais usados são feitos com policarbonato de plastico ou de polietileno, materiais muito leve e resistentes. Para segurar o equipamento na cabeça o capacete possui uma alça chamada chin strap que protege o queixo e não deixa o capacete cair durante o jogo. Alguns capacetes possuem uma parte alcochoada com camares de ar no seu interior que podem ser enchidas com uma bomba de encher bolas, esse sistema ajuda a reduzir o impacto do capacete na cabeça dos jogadores.</p>
				<p>Todos os capacetes tambem possuem uma face mask, uma proteção na frente do capacete feita de aço carbono ou ferro, essa proteção serve para que o jogador não receba impactos no rosto. Dependendo da função do jogador ele pode optar por uma face mask mais fechada, no caso dos jogadores de linha que trombam mais com os outros jogadores, ou por uma face mask mais aberta no caso dos quarterbacks que precisam ter uma visão maior do campo.</p>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 flex">
			<div class="flex-item">
				<img src="images/img-capacete.png" class="img-responsive" alt="" title="">
			</div>
		</div>
	</div>
</section>
<section id="curiosidade-time" class="">
	<div class="container">
		<div class="col-md-12">
			<p class="text-center">Uma curiosidade, os capacetes dos quarterbacks são especiais, no capacete há um ponto eletronico, por meio desse ponto ele pode receber informações do técnico sobre jogadas que devem fazer. Os quarterbacks são os unicos jogadores que podem utilizar esse tipo de capacete especial.</p>
		</div>
	</div>
</section>