<section id="chuteira">
	<div class="container h100">
		<div class="col-xs-12 col-md-6 flex">
			<div class="flex-item flex-item-left">
				<h3>Luvas</h3>
				<p>Existem dois tipos de luvas que são usadas pelos jogadores de futebol americano, as mais leves pesando cerca de 200g são utilizadas pelos runers, recivers e quarterbacks pois ela é revestida com um plástico aderente que impede que a bola escorregue durante as jogadas.</p>
				<p>Ja as luvas mais pesadas, cerca de 500g, são usadas pelos jogadores de linha e defensores, eles precisam segurar os jogadores adversários impedindo que eles chegem ao quarterback e impessão ele de lançar a bola para os recivers. Essas luvas são revestidas com um aluminio nos dedos que ajudam a evitar torçoes e machucados além de ajudar o jogador a segurar o adversario.</p>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 flex">
			<div class="flex-item flex-item-bottom">
				<img src="images/img-luvas.png" class="img-responsive" alt="" title="">
			</div>
		</div>
	</div>
</section>