<nav class="navbar">
	<div class="container">
		<div class="col-md-12">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="./"><img ng-src="images/logo-primeira-jarda.svg" alt="Logo Primeira Jarda"></a>
			</div>

			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="sobre-o-futebol-americano.html">O Jogo</a></li>
					<li><a href="posicoes-jogadores.html">Os Jogadores</a></li>
					<li><a href="os-equipamentos.html">Os Equipamentos</a></li>
					<li><a href="termos.html">termos</a></li>
					<li><a href="./blog">Notícias</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</div><!-- /.container-fluid -->
</nav>
