<section id="posicoes-geral" class="shadow">
	<div class="container h100">
		<div class="flex">
			<div class="flex-item">
				<div class="col-xs-12 col-md-12">
					<h1 class="text-center line-white line-center">Posições dos Jogadores</h1>
					<p class="text-center">Durante um jogo de futebol americano o tecnico pode fazer quantas substituições quiser, tendo 53 jogadores a disposição o técnico pode pedir uma substituição durante o intervalo entre uma jogada e outra. Como o time é dividido em 3 equipes diferentes, ataque, defesa e equipe especial o tecnico so pode substituir um jogador por outro da mesma equipe.</p>
					<div class="posicoes col-xs-12 col-md-10 col-md-offset-1 mat">
						<a href="posicoes-jogadores-defesa.html" class="col-xs-12 col-md-6">Equipe de Defesa</a>
						<a href="posicoes-jogadores-ataque.html" class="col-xs-12 col-md-6">Equipe de Ataque</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>